################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Sitong.Core/.vs/Sitong.CoreALL/DesignTimeBuild
/Sitong.Core/.vs/Sitong.CoreALL
/Sitong.Core/St.Application/bin
/Sitong.Core/St.Application/obj
/Sitong.Core/St.Application.Infrastruct/bin
/Sitong.Core/St.Application.Infrastruct/obj
/Sitong.Core/St.AutoMapper/bin
/Sitong.Core/St.AutoMapper/obj
/Sitong.Core/St.Common/bin
/Sitong.Core/St.Common/obj
/Sitong.Core/St.DoMain/bin
/Sitong.Core/St.DoMain/obj
/Sitong.Core/St.DoMain.Core/bin
/Sitong.Core/St.DoMain.Core/bin/Debug/netcoreapp3.1
/Sitong.Core/St.DoMain.Core/obj
/Sitong.Core/St.DoMain.Core/obj/Debug/netcoreapp3.1
/Sitong.Core/St.EfCore/bin
/Sitong.Core/St.EfCore/obj
/Sitong.Core/St.Exceptions/obj
/Sitong.Core/St.Exceptions/bin
/Sitong.Core/St.Extensions/bin
/Sitong.Core/St.Extensions/obj
/Sitong.Core/St.Host.API/bin
/Sitong.Core/St.Host.API/obj
/Sitong.Core/St.ServiceExtensions/bin
/Sitong.Core/St.ServiceExtensions/obj
