################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Sitong.Core/.vs/Sitong.CoreALL/DesignTimeBuild
/Sitong.Core/.vs/Sitong.CoreALL
/Sitong.Core/St.Application/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Application/obj
/Sitong.Core/St.Application.Infrastruct/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Application.Infrastruct/obj
/Sitong.Core/St.AutoMapper/bin/Debug/netcoreapp3.1
/Sitong.Core/St.AutoMapper/obj
/Sitong.Core/St.Common/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Common/obj
/Sitong.Core/St.DoMain/bin/Debug/netcoreapp3.1
/Sitong.Core/St.DoMain/obj
/Sitong.Core/St.EfCore/bin/Debug/netcoreapp3.1
/Sitong.Core/St.EfCore/obj
/Sitong.Core/St.Exceptions/obj
/Sitong.Core/St.Exceptions/BusinessException.cs
/Sitong.Core/St.Exceptions/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Extensions/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Extensions/obj
/Sitong.Core/St.Host.API/bin/Debug/netcoreapp3.1
/Sitong.Core/St.Host.API/obj
/Sitong.Core/St.ServiceExtensions/bin/Debug/netcoreapp3.1
/Sitong.Core/St.ServiceExtensions/obj
